
html {
    font-family: geneo-std, 'Georgia', source-han-serif-sc, 'Songti SC', serif;
}

a{
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

*::selection {
    background-color: #aedcd9;
    color: white;
}


body {
    background-color: #f9f9f9;
    margin: 0;
}

.first-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 20px;
    position: relative;
}

.fc-main {
    width: 86%;
    max-width: 700px;
    display: flex;
    align-items: center;
    position: relative;
}

.cover {
    margin-right: 30px;
    width: 266px;
    position: relative;
}

.cover_img {
    width: 100%;
	height: auto;
    border-radius: 10px;
}

.first-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 20%;
}

.first-hd {
    font-size: 28px;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.first-a {
    color: #888888;
    font-size: 20px;
    margin-bottom: 30px;
    font-style: italic;
}

.first-school {
    color: #888888;
    font-size: 17px;
    margin-bottom: 8px;
    font-weight: 200;
}

.second-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.sc-main {
    width: 86%;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.second-p {
    margin-bottom: 40px;
    width: 100%;
    color: #888888;
    font-size: 17px;
    font-weight: 200;
    line-height: 28px;
}

.second-svg {
    width: 100%;
    max-width: 300px;
    margin-bottom: 40px;
}

.second-box {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

h2 {
    color: #555555;
    font-size: 17px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.second-bar {
    display: flex;
    align-items: flex-start;
    color: #888888;
    font-size: 17px;
    margin-bottom: 16px;
    font-weight: 400;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
}

.second-circle {
    margin-top: 8px;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background: #888888;
    flex: none;
}

.sb-special {
    width: calc(100% - 20px);
}


h3 {
    color: #888888;
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: 400;
    max-width: 90%;
}

.second-a {
    color: #23A296;
}

/** 适配手机屏 */
@media (max-width: 500px) {
    .fc-main {
        flex-direction: column;
    }

    .cover {
        margin-right: 0px;
        width: 100%;
        height: auto;
        margin-bottom: 28px;
        position: relative;
    }

    .cover_img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .first-box {
        width: 100%;
    }
    
    .sc-main {
        min-width: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 90px;
    }
}

